{% extends 'base.html' %}
{% block content %}
<br> <br>
<h2>There are some desire houses</h2>

</br> </br>
    <div class="row row-cols-3 row-cols-md-3">

        {% for i in Houses %}
            <div class="col mb-4">



               <div class="card">
              <img src="{{i.image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> Landloard Name: {{ i.landlord.user.username }}</h5>
                <h6 class="card-text">  House : {{ i.id }}</h6>
                <h6 class="card-text">  Room :{{ i.room_no}}</h6>
                <h6 class="card-text">  Size_in_sqfeet :{{ i.size_in_sqfeet }}</h6>
                <h6 class="card-text">  Rent :{{ i.rent }}</h6>

              </div>
            </div>
            </div>
        {% endfor %}

    </div>
{% endblock content %}