{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body style="background-color: lightcoral">
 {% if user.is_authenticated %}
    <h1>{{ user.username }}</h1>
     <a href ="{% url 'logout' %}">Logout</a><br>
     <a href ="{% url 'Landlords' %}">Landlords list</a><br>
     <a href ="{% url 'Insertlandlord' %}">Insertlandlord</a><br>
     <a href ="{% url 'Advertisment' %}">Advertisment list</a><br>
 {% else %}
    <h3 style="color: red">Oooh.Please Login with valid username and password!!</h3>
     <a href ="{% url 'Registration' %}">Sign Up</a><br>
     <a href ="{% url 'login' %}">Login</a><br>
 {% endif %}
{% block content %}

{% endblock content %}

</body>
</html>