<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landlords</title>
</head>
<body style="background-color: lightcoral">
<h1 style="text-align: center ; color: antiquewhite">All Landlors are ready to letout their home</h1>
<p style="text-align: center ; color: antiquewhite">{{ Landlords }}</p>
{% for i in Landlords %}
    <p style="color: antiquewhite ; text-align: center">
    {{ i.name }}<br>
    {{ i.email }}<br>
    {{ i.Contact_number }}<br>
    </p>

{% endfor %}


</body>
</html>