{% extends 'base.html' %}
{% block content %}
{# <h1 style="text-align: center ; color: black  " >All Landlors are ready to letout their home</h1> #}
<div class="alert alert-success" role="alert">
  <h3 class="alert-heading" style="text-align: center  " >All Landlors are ready to letout their home!</h3>

</div>

     <table class="table table-bordered">
  <thead class="thead-light">
    <tr>

      <th scope="col"><h5>Landlord</h5> </th>
      <th scope="col"><h5>Name</h5> </th>
      <th scope="col"><h5>Email</h5></th>
      <th scope="col"><h5>Phone No</h5></th>



        <th scope="col"><h5>Profile Picture</h5></th>


    </tr>
  </thead>
      {% for i in Landlords %}


      <body>
       <tr>

           <td> <h6>{{ i.user_id }}</h6></td>
           <td><h6>{{ i.name }}</h6></td>
           <td><h6>{{ i.email }}</h6></td>
           <td><h6>{{ i.contact_no }}</h6></td>


           <td><img src="{{ i.profile_picture.url }} " width="50" height="50"></td>




{#           <th><img src="{{ i.profile_picture.url }} " width="50" height="50"</th>#}


       </tr>
      </body>



      {# <h3>Landlords : {{ i.user_id }}</h3> #}
      {#{{ i.name }}<br>  #}
      {# {{ i.email }}<br> #}
      {#    {{ i.contact_no }}<br>#}
    </p>

{% endfor %}
    </table>
{# </div> #}
{% endblock content %}